@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Prompt:wght@700&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Prompt:wght@600;700&family=Rochester&display=swap');

:root {
  --white: #f3f3f3;
  --grey: #e4e4e4;
  --dark-blue: #09172d;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.overflow{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar-container a {
  text-decoration: none;
  color: var(--dark-blue);
}

.navbar-left a{
    font-size: 24px;
    font-weight: bold
}

.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  z-index: 1;
}

.navbar-right {
  display: flex;
  gap: 48px;
  font-size: 24px;
  align-items: center;
  font-family: "Prompt";
}
.navbar-right a:hover {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
}

.navbar-button{
  background: transparent;
  border: none !important;
  display: grid;
}
.navbar-button img{
  width: 180px;
  padding-top: 20px;
}
.navbar-login{
  display: flex;
}

.hero-button,
.get-button {
  background-color: rgba(228, 228, 228, 0.5);
  padding: 6px 24px;
  border-radius: 40px;
}

/* Landing Page */
#Hero {
  height: 110vh;
  background: url("/img/Landingpage.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

/* search navbar */
.navbartype{
  display: flex;
  background-color: #f3f3f3;
  padding: 10px 90px;
  justify-content: space-between;
}

.type-food {
  display: flex;
  gap: 48px;
  width: 600px;
  font-family: "Prompt";
  padding-bottom: 2px;text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 1px;
}

/* .type-food a:hover{
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 48px;
} */

/* .type-food-active{
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 1px;
}

.type-food-nonactive{
  text-decoration: none;
}

.type-drink-active{
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
}

.type-drink-nonactive{
  text-decoration: none;
} */

.search img{
  width: 30px;
  background-color: #f3f3f3;
}
.type-food a{
  text-decoration: none;
  color: #C4C4C4;
  font-weight: bold;
  font-size: 48px
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  padding-top: 25px;
  overflow: hidden;
}

.searchTerm {
  width: 20%;
  border: 2px solid #C4C4C4;
  padding: 20px;
  height: 50px;
  border-radius: 20px 0 0 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000000;
}
.filter-button-search{
  margin-right: 8px;
  width: 37px;
  height: 39px;
}
.img-buttonfilter{
  border: 5px solid #f3f3f3;
  text-align: center;
  color: #f3f3f3;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  border: none;
  overflow: hidden;
}

.dropdown{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b5bb81;
  min-width: auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(206, 175, 2, 0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(241, 161, 11);}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .img-buttonfilter {background-color: #f3f3f3;}

.searchButton {
  border: 5px solid #f3f3f3;
  text-align: center;
  color: #f3f3f3;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  height: 50px;
}

/* Food List */
.list-food-container{
  display: flex;
  justify-content: flex-start;
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-left: 100px;
  font-family: "Prompt";
  font-size: 36px;
  font-weight: 600;
}

#list-food
{
  background-color: #f3f3f3;
}

.makanan{
  width: 500px;
  height: 250px;
  border: 4px solid #D4D4D4;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.makanan1{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
}
.gambar{
  display: flex;
  margin-right: 15px;
  width: 220px;
  height: 134px;
  margin-top: 10px;
}
.gambar img{
  border-radius: 30px;
}

.foreach-food{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  float: left;
  padding-left: 80px;
  padding-bottom: 50px;
}
.list-nofood{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  height: 100vh;
  padding-left: 100px;
  font-family: "Prompt";
  font-size: 36px;
  font-weight: 600;
}
.nama-makanan{
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
}
.harga-makanan{

  margin-bottom: 20px;
}
.add-button{
  border: #f3f3f3;
  color: #f3f3f3;
}
.add-button img{
  width: 110px;
  height: 38px;
  display: flex;

  justify-content: center;
}
.footer{
  position: fixed;
  height: 110px;
  bottom: 0;
  display: absolute;
  right: 5px;
}
.button-cart{
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-right: 30px;
  background-repeat: no-repeat;
  text-decoration: none;
}

/* modal content */
.modal-content:not(.isi-cart){
  display: flex;
  margin-left: 90px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 50px;
}
/* Modal Content */
.isi-cart {
  background-color: #f3f3f3;
  margin: auto;
  border: 1px solid #C4C4C4;
  height: auto;
  width: 370px;
  border-radius: 50px;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.img-modal{
  width: 100%;
}

.img-css{
  display: flex;
  margin-left: 40px;
  height: 210px;
  width: 280px;
  border-radius: 10px;
}
.img-css img{
  width: 100%;
  height: 100%;
}
.nama-makanan-modal{
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  padding-left: 48px;
}
.deskripsi-makanan-modal{
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 0;
  padding: 5px 48px;
}
.harga-makanan-modal{
  display: flex;
  justify-content: space-around;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
}
.harga-makanan-modal p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}
.harga-makanan-modal button{
  background: transparent;
  border: none !important;
}
.add-button-modal{
  border: #f3f3f3;
  color: #f3f3f3;
}
.add-button-modal img{
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


/* Shopping Cart */
.modal-container{
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.modal-container.show{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  pointer-events: auto;
  opacity: 1;
  background-color: rgba(70, 70, 70, 0.6);
}

.modal-cart {
  background-color: #f3f3f3;
  border-color: #C4C4C4;
  padding: 20px 40px;
  width : 700px;
  max-width: 100%;
  height: 800px;
  border-radius: 46px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0.3);
  text-align: center;
  overflow: hidden;
}

.isi-seluruh-cart{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: #C4C4C4;
  margin-top: 20px;
  border-radius: 34px;
  height: 130px;
  width: 600px;
}
#close_cart{
  margin-left: 600px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  overflow: hidden;
}
#close_cart span{
  font-size: large;
}
.judul{
  font-size: 48px;
  font-weight: bold;
  font-family: "Prompt";
}
.judul p{
  margin: 0px 0px 0px 0px;
}
.area-cart{
  flex-direction: column;
  height: 400px;
  width: 630px;
  overflow-y: scroll;
  /* border-bottom: rgb(241, 161, 11, 0.5);
  border-top: #f3f3f3;
  border-left: #f3f3f3;
  border-right: #f3f3f3; */
  border-style: none;
}

.area-cart::-webkit-scrollbar {
  background-color: #f3f3f3;
  width: 5px;
}

.area-cart::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.empty-cart{
  font-size: 30px;
  margin-top: 150px;
}
.gambar-makanan{
  margin-left: 40px;
  height: 103px;
  width: 113px;
}
.gambar-makanan img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.judul-dan-harga{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
}
.judul-makanan{
  font-family: "Prompt";
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
.jumlah-kurang{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 80px;
  flex-direction: row;
  gap: 5px;
}
.box-jumlah{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  width: 55px;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Prompt";
  background-color: #ffff;
  border-radius: 18px;
}
.box-jumlah p{
  margin-bottom: 0px;
}
.tanda-tambah{
  width: 25px;
  height: 25px;
  font-weight: bold;
  color: #FF6737;
  border-radius: 100px;
  border-color: #FF6737;
  border-style: solid;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redeem-and-summary{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 10px;
}

.redeem, select, textarea{
  font-family: "Prompt";
  font-size: 14px;
  font-weight: 200;
  border-radius: 45px;
  width: 399px;
  height: 35px;
  border: 1px solid #C4C4C4;
  display: flex;
}

.redeem[type=text]:focus{
  border: 1px solid orange;
  outline: none;
}

.button-checkout{
  background-color: #FF6737;
  border-style: none;
  border-radius: 45px;
  width: 130px;
  height: 35px;
  margin-left: 15px;
  font-family: "Prompt";
  color: #f3f3f3;
  font-weight: 100;
}
.button-checkout:hover{
  background-color: #d46b42;
  border-color: #000000;
}
.garis-batas{
  border-style: solid;
  border-color: #C4C4C4;
  border-width: 2px;
  margin-top: 20px;
  margin-left: 10px;
  width: 98%;
  height: 1px;
}
.Summary{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  font-family: "Prompt";
}
.title-summary{
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
.subtotal{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
}
.charge{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 700;
  font-size: 18px;
}
.total-summary{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 700;
  font-size: 18px;
}

.btnaction{
  display: flex;
  flex-direction: row;
}

.btnaction a{
  margin-right: 15px;
}

#tabel{
  margin-left: 3rem;
}

h1{
  margin-top: 7rem;
  font-family: 'Prompt';
  margin-left: 7rem;
}

hr{
    margin-left: 5rem;
    margin-right: 5rem;
}

.btnadd button{
    margin-left: 105rem;
    padding: 10px 30px;
    background-color: rgb(0, 148, 255);
    border-radius: 10px;
    font-family: 'Prompt';
    color: white;
}
