@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Prompt:wght@700&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Prompt:wght@600;700&family=Rochester&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Prompt';
    background-color: rgb(229, 229, 229);
}

.registerpage{
    display: flex;
    flex-direction: row;
}

.container{
    margin-left:20rem;
    margin-top: 2rem;
}

.judul{
    margin-bottom: 2rem;
}

.judul b{
    font-size: 48px;
}

label{
    font-size: 25px;
}

input{
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 250px;
    width: 540px;
    height: 50px;
    font-size: 25px;
    background-color:rgb(255, 255, 255);
    border: 1.5px solid rgb(197, 197, 197);
}

.container input{
    /* margin-bottom: 40px; */
}

.content .name, .content .email, .content .username, .content .password, .content .password_confirmation, .content .date, .content .btn{
    margin-bottom: 30px;
}

.date input{
    color: grey;
}

.btnregister{
    border-radius: 20px;
    padding: 5px 80px;
    background-color: rgb(255, 103, 55);
    color: white;
    border: none;
    font-size: 20px;
}

.error { font-size:23px; color:red; }
