@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppins';
    background-color: rgb(229, 229, 229);
}

.registerpage{
    display: flex;
    flex-direction: row;
}

.container{
    margin-left:20rem;
    margin-top: 2rem;
}

.judul{
    margin-bottom: 2rem;
}

.judul b{
    font-size: 48px;
}

label{
    font-size: 25px;
}

input{
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 540px;
    height: 50px;
    font-size: 25px;
    background-color:rgb(255, 255, 255);
    border: 1.5px solid rgb(197, 197, 197);
}

.container input{
    margin-bottom: 40px;
}

.date input{
    color: grey;
}

.btnregister{
    border-radius: 20px;
    padding: 5px 80px;
    background-color: rgb(255, 103, 55);
    color: white;
    border: none;
    font-size: 20px;
}
